<footer>
  <div class="help">
    <ul>
      <li>faq</li>
      <li>return policy</li>
      <li>contact us</li>
    </ul>
  </div>

  <div class="social">
    <ul class="li">
      <ion-icon name="logo-youtube"></ion-icon>
    </ul>
    <ul class="li">
      <ion-icon name="logo-instagram"></ion-icon>
    </ul>
    <ul class="li">
      <ion-icon name="logo-twitter"></ion-icon>
    </ul>
  </div>

  <div class="privacy">
    <ul>
      <li>privacy policy</li>
    </ul>
  </div>

  <div class="copy-right">
    <p>&#169;gardenia 2020-2021</p>
  </div>
</footer>
