<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plant shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<script defer src="js/logic.js"></script>
</head>

<body>
    <%- include('partials/header.ejs')  %>




        <div class="flex-container" >
        
            <nav class="pagination">

                <ul>
                    <!-- <li class="prev" ><ion-icon name="arrow-back-outline"></ion-icon>previous</li> -->
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</i>
                    <li>5</li>
                    <li onclick="pagination(2)" class="next">next<ion-icon name="arrow-forward-outline"></ion-icon></li>
                </ul>
                
                </nav>

<div class="cards-container">

    <div class="card">
        <div class="body">
            <img  src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
    </div>
    <button class="shop-now">
        add to cart
    </button>
</div>

    <div class="card">
        <div class="body">
            <img  src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos demo.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

    <div class="card">
        <div class="body">
            <img src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

    <div class="card">
        <div class="body">
            <img src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

    <div class="card">
        <div class="body">
            <img src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

    <div class="card">
        <div class="body">
            <img src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

    <div class="card">
        <div class="body">
            <img src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

    <div class="card">
        <div class="body">
            <img src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

    <div class="card">
        <div class="body">
            <img  src="images\severin-candrian-gTMnUAkPvlQ-unsplash.jpg" alt="">
            <h2>pothos.</h2>
            <p>15$</p>
        </div>
        <button class="shop-now">
            add to cart
        </button>
    </div>

</div>

<nav class="pagination">

<ul>
     <!-- <li class="prev" ><ion-icon name="arrow-back-outline"></ion-icon>previous</li> 
     -->

     <li class="active" >1</li>
    <li>2</li>
    <li>3</li>
    <li>4</i>
    <li>5</li>
    <li class="next">next<ion-icon name="arrow-forward-outline"></ion-icon></li>
</ul>

</nav>


</div>

<%- include('partials/footer.ejs')  %>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      
</body>
</html>